<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <style>
    @import url("http://fonts.cdnfonts.com/css/gotham");

    body {
      font-family: "Gotham", sans-serif;
      background-color: rgb(235, 235, 235);
    }

    canvas {
      height: 200px;
    }
  </style>
</head>

<body>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    <symbol id="home" viewBox="0 0 16 16">
      <path
        d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z">
      </path>
    </symbol>
    <symbol id="speedometer2" viewBox="0 0 16 16">
      <path
        d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z">
      </path>
      <path fill-rule="evenodd"
        d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z">
      </path>
    </symbol>
    <symbol id="table" viewBox="0 0 16 16">
      <path
        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z">
      </path>
    </symbol>
    <symbol id="people-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
      <path fill-rule="evenodd"
        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z">
      </path>
    </symbol>
    <symbol id="grid" viewBox="0 0 16 16">
      <path
        d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z">
      </path>
    </symbol>
    <symbol id="bootstrap" viewBox="0 0 16 16" class="bi bi-credit-card">
      <path
        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
      <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
    </symbol>
  </svg>

  <header class="text-white p-3 bg-dark border-bottom">
    <div class="">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <a href="#" class="
              d-flex
              align-items-center
              mb-2 mb-lg-0
              text-white text-decoration-none
            ">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-4">PayTonight</span>
        </a>

        <div class="text-end">
          <form action="/auth/logout" method="POST">
            <button type="submit" class="btn btn-warning">Logout</button>
          </form>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="row" style="height: 100%">
      <div class="
            col-5 col-sm-4 col-md-3 col-lg-2
            d-flex
            flex-column flex-shrink-0
            p-3
            text-white
            bg-dark
          ">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <button class="nav-link btn btn-block active text-white" aria-current="page" id="homeBtn">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              Home
            </button>
          </li>
          <li>
            <button class="nav-link text-white btn btn-block" id="transactionsBtn" onclick="">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#speedometer2"></use>
              </svg>
              Transactions
            </button>
          </li>
        </ul>
      </div>
      <div class="col-7 col-sm-8 col-md-9 col-lg-10 p-3">
        <section id="homeSec">
          <div class="card">
            <h5 class="card-header">API Info</h5>
            <div class="card-body">
              <div class="card-text d-flex flex-row">
                <div id="app-details">
                  <p id="app-id">
                    APP ID: &nbsp; <span>
                      <%= locals.appId || "" %>
                    </span>
                  </p>
                  <br />
                  <p id="app-key">
                    APP Key: &nbsp; <span>
                      <%= locals.appKey || "" %>
                    </span>
                  </p>
                  <p hidden id="userId" data-id="<%= locals.userId %>"></p>
                </div>
              </div>
              <form style="margin-left: 80%; margin-top: -4%" action="/user/create-api-key" method="POST">
                <button style="border-radius: 10px" type="submit" class="btn-block btn-success">
                  Generate API Key
                </button>
              </form>
            </div>
          </div>

          <div class="card mt-5">
            <h5 class="card-header">Summary</h5>
            <div class="card-body">
              <div class="card d-inline-block bg-primary text-white" style="width: 300px">
                <div class="card-body">
                  <h5 class="card-title">Total Transferred</h5>
                  <span id="total" class="card-text" style="font-size: 30px">
                    <%= locals.revenue %>
                  </span>
                  <span class="card-text">EGP</span>
                </div>
              </div>
            </div>
          </div>

          <div class="card mt-5">
            <h5 class="card-header">Recent Transactions</h5>
            <div class="card-body text-center">
              <% if (locals.transactions.length===0) {%>
                <h3 id="no-data-msg2" class="card-text text-secondary">
                  No transactions to show.
                </h3>
                <%}else{%>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% locals.transactions.forEach(transaction=> {%>
                        <tr>
                          <td>
                            <%=transaction._id%>
                          </td>
                          <td>
                            <%=transaction.amount%>
                          </td>
                          <td>
                            <%=new Date(transaction.created_at).toGMTString()%>
                          </td>
                        </tr>
                        <%});}%>
                    </tbody>
                  </table>
            </div>
          </div>
        </section>
        <section id="transactions" class="d-none">
          <div class="card d-inline-block p-3" style="width: 200px">
            <h3 class="card-title m-0"> <%= locals.revenue %> EGP</h3>
          </div>

          <div class="card mt-5">
            <h5 class="card-header">Transactions Summary</h5>
            <div class="card-body text-center">
              <canvas id="myChart"></canvas>
            </div>
          </div>

        </section>
      </div>
    </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/app.js"></script>
</body>

</html>